<!DOCTYPE html>
<html lang="en">


<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abrechnung</title>
	
	<!-- Bootstrap CSS 4.3.1 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- VueJS -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<style>
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>

	<style>
		.dontShow_row {
			display: none;
		}
	</style>


</head>

<body>
	<div class="container mt-4" id="Abrechnung">



		<table class="table table-bordered" id='abrechnung'
			style='overflow-x:scroll; overflow-y:scroll; width:78%; height:100%'>

			<thead>
				<tr>
					<th scope="col">BZ</th>
					<th scope="col">Artikel</th>
					<th scope="col">Flasche</th>
					<th scope="col">Einheit</th>

				</tr>
			</thead>
			<tbody>
				<form class="center1" onsubmit="calculate(); return false;">
				<tr v-for="artikel, index in artikelListe">
					<td>{{ artikel.BZ }}</td>
					<td>{{ artikel.Artikel }}</td>
  					<div class="form-group">
					<td><input type="number" class="form-control" name="flasche" id="flasche" placeholder="0"></td>
  					</div>
  					  <div class="form-group">
					<td><input type="number" class="form-control" name="einheit" id="einheit" placeholder="0"></td>
  					  </div>

				
				</tr>
				
			</tbody>
			  				
		</table>
	</div>
	  <div class="form-group">
					    <input type="submit" class="btn btn-primary" name="ausrechnen" value="Ausrechnen";>
					    <input type="reset" class="btn btn-primary">
					   </div>
					   </form>

	<script>
		var abrechnung = new Vue({
			el: '#Abrechnung',
			data: {
				artikelListe: []
			},
			mounted: function () {
				axios.get('http://12a9fb5.online-server.cloud:443/anfang/2')
					.then(response => {
						this.artikelListe = response.data;
						console.log(response);
					})
					.catch(error => {
						console.log(error);
					});
			}
		})

	</script>

</body>

</html>