<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Abrechnung</title>
  <!-- Bootstrap CSS 4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <style>
  tr:nth-child(even) {
    background-color: #dddddd;
}
  </style>
  
</head>

<body>
  <div class="container mt-4" id="Abrechnung">

    <table class="table table-bordered" style='overflow-x:scroll; overflow-y:scroll; width:65%; height:100%'>
      <thead>
        <tr>
          <th scope="col">BZ</th>
          <th scope="col">Artikel</th>
          <th scope="col">Flasche</th>
          <th scope="col">Einheit</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="artikel, index in artikelListe">
          <td>{{ artikel.BZ }}</td>
          <td>{{ artikel.Artikel }}</td>
          <td>{{ artikel.Flasche }}</td>
          <td>{{ artikel.Einheit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script>
    var abrechnung = new Vue({
      el: '#Abrechnung',
      data: {
        artikelListe: []
      },
      mounted: function() {
        axios.get('http://localhost:8080/anfang')
            .then(response => {
              this.artikelListe = response.data;
              console.log(response);
            })
            .catch(error => {
              console.log(error);
            });
      }
    })
  </script>
</body>
</html>