<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOP Abrechnung</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
.center {
  text-align: center;
}
.center1 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<div class="center">
<h1>Willkommen zur STOP Abrechnung</h1><br>
<h1>Buffet 4</h1><br>
</div>

<div class="center1">
<h3><a href="http://12a9fb5.online-server.cloud:443/anfangstand/4">Zum Anfangstand</a></h1>

<h3><a href="http://12a9fb5.online-server.cloud:443/sweets/4">Sweets</a></h1>

<h3><a href="http://12a9fb5.online-server.cloud:443/endstand/4">Zum Endstand</a></h1>

<h3><a href="http://12a9fb5.online-server.cloud:443/kassa">Kassa zählen</a></h1>

</div>
<img src="https://upload.wikimedia.org/wikipedia/de/thumb/c/c7/Gerstner_logo.PNG/1200px-Gerstner_logo.PNG" alt="STOP" style="width:40%">
</body>

</html>
